{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div id="app">
    <div class="left-panel">
        <div class="header">
            <h1>What animal is this?</h1>
        </div>

        <div class="upload-section-title">
            <h2>Please choose an image file to submit:</h2>
        </div>

        <div class="upload-section">
            <form method=post enctype=multipart/form-data action=" {{ url_for('prediction') }} ">
                {# This hidden_tag is a CSRF security feature. #}
                {{ form.hidden_tag() }}
                <div id="upload_form">
                    <input type=file name=photo label="Choose file to upload">
                    <input type=submit value="Get Prediction">
                </div>
            </form>
        </div>
    </div>
    <div class="right-panel"></div>
</div>
{% endblock %}