{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}


<section
        class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
        <h1>What animal is this?</h1>
        <div class="upload-section-title">
            <h4>Please choose an image file to submit:</h4>
        </div>

        <div class="upload-section">
            <form method=post enctype=multipart/form-data action=" {{ url_for('prediction') }} ">
                {# This hidden_tag is a CSRF security feature. #}
                {{ form.hidden_tag() }}
                <div id="upload_form">
                    <input type=file name=photo label="Choose file to upload">
                    <input type=submit value="Get Prediction">
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}