{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<section
        class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
        <h1>Introduction</h1>
        <p class="major">Camera (Wild) traps are widely used to monitor biodiversity and population density of animal
            species, by collecting
            large quantities of image data. There are several advantages on automating species classification from this
            data,
            such as less time spent in analyzing photos and an easier count of occurrences in specific locations. The
            goal of this project was to develop a deep learning model to correctly classify specific animal species
            based on camera trap images, based on the dataset provided by the <a
                    href="https://www.kaggle.com/c/iwildcam-2019-fgvc6/overview">iWildCam 2019 Kaggle Challenge</a>. We
            used Convolutional Neural Networks (CNNs), with the Keras interface for TensorFlow Python library. CNNs are
            a specific type of artificial neural network, frequently used for image data processing and analysis</p>
    </div>
    <div class="image">
        <img src="static/images/banner.png" class="banner.onload-image-fade-up .image" alt=""/>
    </div>
</section>
{% endblock %}